[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"PyQt5" = "*"


[dev-packages]

pyqt-distutils = "*"
PyInstaller = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
"e1839a8" = {path = ".", editable = true}
"flake8" = "*"
